 <div class="row">
    <div class="col-xs-12">
        <p>Add new Servers or blueprint</p>
        <label>Server Name</label>
        <input type="text" class="form-control"  #serverNameInput>
        <!-- local references-serverNameInput -->
        <label>Server Content</label>
        <!-- [(ngModel)]="newServerContent" -->
        <input type="text" class="form-control" #serverContentInput>
        <br>
       
             
                <button class="btn btn-primary" (click)="onAddServer(serverContentInput)">Add Server</button>
                <!-- to get spacing between two buttons -->
                 &nbsp;
                <button class="btn btn-primary" (click)="onAddBlueprint(serverContentInput)">Add blueprint</button>
      
    </div>
</div> 
<!-- <h3>send message to parent component</h3>
<button class="btn btn-primary" (click)="onButtonClick()">send message</button> -->