<!-- <div class="container"> 
  <header style=" background-color: #8AAAE5;"><h1>Happiest Minds</h1>
     <nav class="nav justify-content-end">
      <li class="nav-items">
      <a class="nav-link" routerLink=""><strong>Home</strong></a></li>
      <li class="nav-items">
      <a class="nav-link" routerLink="login"><strong>Login</strong></a></li>
     
    
  

  </nav></header> -->
  <!-- <nav class="navbar navbar-light bg-dark justify-content-between">
    <a class="navbar-brand">Happiest Minds</a>
    <li class="nav-items">
      <a class="nav-link" routerLink=""><strong>Home</strong></a></li>
      <li class="nav-items">
      <a class="nav-link" routerLink="login"><strong>Login</strong></a></li>
     
   
    
  </nav> -->
  <header style="min-height: 60px;">
  <nav class="navbar navbar-expand-md sticky-top" >
        
    <div class="w-100">
        <a class="navbar-brand text-dark w-100">
            
            <b class='ms-2'>Happiest Minds</b>
        </a>
    </div>
    <!-- <div>
   <span>
       <a class="navbar-brand text-dark" routerLink="login">
           <img src="https://tse1.mm.bing.net/th/id/OIP.XKdZgJT9MaVBqYDg-5JlvgAAAA?pid=ImgDet&rs=1" alt="Logo" width="30" height="24" class="d-inline-block align-text-top" />
           <b class='ms-2'>Admin</b>
       </a>
   </span>
</div> -->
   
    
    <div>
        <span>
            <a class="navbar-brand text-dark" routerLink="">
                
                <b class='ms-2'>Home</b>
            </a>
        </span>
    </div>
    <div>
      <span>
          <a class="navbar-brand text-dark" routerLink="login">
              
              <b class='ms-2'>Login</b>
          </a>
      </span>
  </div>
   
   

</nav>
</header>
  
  
  
  <main>
<app-main></app-main>
</main>
<footer style="background-color:  rgb(243, 243, 53);">
  <div style="text-align: center;">
    <p id="copyright" class="copyright text" >Copyright &copy;Happiest Minds &trade;</p>
    <!-- <h2>{{today | date}}</h2> -->
    <h3 style="font-size: medium;">{{today}}</h3>
    
    
    


</div>
</footer>
<!-- <div class="col-12" style="min-height: 60px;background-color: burlywood; position: fixed;"></div> -->